@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Putting First Things First</h1><br />

    <img src="~/img/stephen-covey-4-quadrants.jpg" height="400"/>
</div>
